<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.workflow.mapper.ActGatewayConditionRelateMapper">

    <resultMap type="com.ruoyi.workflow.domain.ActGatewayConditionRelate" id="ActGatewayConditionRelateResult">
        <result property="id" column="id"/>
        <result property="processDefinitionId" column="process_definition_id"/>
        <result property="sequenceId" column="sequence_id"/>
        <result property="gatewayConditionId" column="gateway_condition_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
    </resultMap>


</mapper>
